.pagination-container{
    height: 70px;
    width: 950px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  
}
.button{
    border: 1px solid black;
    font-size: 1.3em;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}
.butt-div{
    display:flex ;
    gap: 10px;
}
.page-no{
    font-size: 1.2em;
    font-weight: bold;
}